a:link 
{
font: bold;
text-decoration:none;
color: blue;
}

/* top-rt-bott-left */
div.marginit {
  margin: 12px 0px 12px 0px
}
div.marginit2 {
  margin: 18px 0px 18px 0px
}

div.indent {
  margin:0px 0px 0px 18px;
}

div.adleft {
  margin:10px 0px 0px 10px;
}

span.editlink {
font-size:8px;
}

span.postdate {
font-size:8px;
}

a:visited {
text-decoration:none;
color: purple;
}

a:active {
color: red;
}

a img {
text-decoration:none;
border:none;
padding:0px;
margin:0px;
}

/* ----------------------------------------------- */  

body {
  font-family: Verdana, Arial; 
  font-size:14px;
  background: #F0F0F0; 
  color: black; 
  margin:0px 0px 20px 0px;
}

#header{
background:#000066;
color:#ffffff;
}

#header h1{
font-size:18px;
color:#FF0000;
text-align:left;
margin:0px 0px 0px 10px;
background-color:transparent;
}

#header h2{
font-size:13px;
font-weight:normal;
text-decoration:none;
color:#cccccc;
background-color:transparent;
margin:0px 0px 0px 20px;
}

#header h2 a {
  text-decoration:none;
  color:#cccccc;
  background-color:transparent;
}
#header h2 a:link {
  text-decoration:none;
  color:#cccccc;
  background-color:transparent;
}
#header h2 a:visited {
  text-decoration:none;
  color:#cccccc;
  background-color:transparent;
}

/* margin: top-right-bottom-left */


/* ----------------------------------------------- */  

h1 {
font-size:1.5em;
font-weight:normal;
text-align:left;
margin:0px;
color:#FF0000;
background:#336699;
padding-top:5px;
}

h1 a {
font-size:1.5em;
font-weight:normal;
text-decoration:none;
color:#FF0000;
background-color:transparent;
}

h1 a:hover {
text-decoration:none;
color:#FF0000;
background-color:transparent;
}

h1 a:link {
color:#FF0000;
text-decoration:none;
}

h1 a:visited {
color:#FF0000;
text-decoration:none;
}

h1 a:active {
color:#FF0000;
text-decoration:none;
}

/* ----------------------------------------------- */  

h2 {
font-size:18px;
font-weight:normal;
text-align:left;
padding:5px 0px 10px 10px;
margin:0 0px 0px 0px;
color:#ffffff;
background:#C0C0C0;
text-decoration:none;
}

h2 a {
font-weight:normal;
text-decoration:none;
color:#ffffff;
background-color:transparent;
}

h2 a:hover {
text-decoration:none;
color:#ffffff;
background-color:transparent;
}

div.pagetitle {
  font-weight:normal;
  text-align:left;
  margin:7px 0px 10px 0px;
  padding:5px 6px 0px 0px;
  text-decoration:none;
  background:#C0C0C0;
}

div.pagetitle a {
  color:#ffffff;
  font-weight:normal;
  text-align:left;
  text-decoration:none;
  background:#C0C0C0;
}

div.pagetitle a:visited {
  color:#ffffff;
  font-weight:normal;
  text-align:left;
  text-decoration:none;
  background:#C0C0C0;
}

h2.archives{
	margin-bottom: 10px;}

/* ----------------------------------------------- */  

h5 {
font-weight:bold;
padding:2px 5px 1px 5px;
margin:4px;
border:none;
}

/* ----------------------------------------------- */  

#current
{
background: #989898;
color: #000000;
}

#navigation {
font-size:14px;
height:2.2em;
line-height:2.2em;
background:#C0C0C0;
/* border-bottom: 2px solid #FF0000;
border-top: 2px solid #FF0000; */
color:#000000;
}

#navigation li {
float:left;
list-style-type:none;
border-right:1px solid #ffffff;
white-space:nowrap;}

#navigation li a {
display:block;
padding:0 10px;
font-size:0.8em;
font-weight:normal;
text-transform:uppercase;
text-decoration:none;
background-color:inherit;
color: #000000;
}

* html #navigation a {width:1%;}

#navigation .selected,
#navigation a:hover {
  background:#989898;
  color:#000000;
  text-decoration:none;}
  
.navuh {
  height:2.2em;
  line-height:2.2em;
  background:#000099;
  color:#000000;
}

.navuhcurrent {
background-color: #000099;
}

.navuhli {
  float:left;
  border-right:1px solid #ffffff;
  white-space:nowrap;
}

.navuhli a {
  display:block;
  padding:0 10px;
  font-size:0.8em;
  font-weight:normal;
  text-transform:uppercase;
  text-decoration:none;
  background-color:inherit;
  color: #000000;
}

.navuh .selected,
.navuh a:hover {
  background:#80b0da;
  color:#000000;
  text-decoration:none;
}
  
/* ----------------------------------------------- */  

.entry{
	margin-bottom:3em;
}

.entry a{
	margin-bottom:3em;
}


.entry img {
	padding: 5px;
	border: 1px solid #ccc;
	margin: 5px;
}

.sec-a{
	background:#eff2ef;
  float:left; 
	width:775px;
	padding:0 15px;
}
  
div.path {
  font-size:11px;
  font-weight:normal;
  padding:0px;
  margin:25px 20px 10px 200px;
}

div.path a {
  font-size:11px;
  font-weight:normal;
}

div.smallline {
  margin: 10px 350px 10px 20px;
  border-bottom: 1px solid #14568a;
  padding: 3px;
}

div.smalllinecenter {
  margin: 10px 185px 10px 185px;
  border-bottom: 1px solid #14568a;
  padding: 3px;
}

/* -------------------- MAIN --------------------------- */  

td.main {
  vertical-align:top;
  width:30%; 
  position: absolute;
}

/* margin: top-right-bottom-left */

div.main {
  font-weight:normal;
  line-height:16px;
  color:#000000;
  background-color:#F0F0F0;
  padding:5px;
  margin: 5px 10px 10px 10px;
  border:solid 0px #cccccc;
}

div.pagetitlesearch {
  font-weight:normal;
  text-align:left;
  margin:7px 0px 10px 0px;
  padding:5px 6px 0px 0px;
  text-decoration:none;
  background:#467aa7;
}

div.pagetitlesearch h2 a {
  text-decoration:none;
  color:#ffffff;
}

div.pagetitlesearch h2 a:visited {
  text-decoration:none;
  color:#ffffff;
}

div.searchresults {
  font-size: 1.1em;
  line-height:16px;
  margin: 5px 0px 10px 10px;
}

div.searchrefines {
  text-decoration:none;
}

div.searchrefines a {
  text-decoration:none;
  color: blue;
}

div.searchrefines a:visited {
  text-decoration:none;
  color: blue;
}

div.searchrefines a:hover {
  text-decoration:underline;
}

div.searchwrap {
  margin-right: 0px;
}

div.search {
  margin-left: 20px;
}

p.googlelogo {
  margin:0px 0px 0px 80px;
}

div.main a {
  font-weight:normal;
  text-decoration:none;
}

div.main a:visited {
  font-weight:normal;
  text-decoration:none;
}

div.postcontent {
  margin:0px 16px 0px 12px;
  line-height: 130%
}

div.postcontent a {
  text-decoration:underline;
}

div.postcontent a:visited {
  text-decoration:underline;
}

.command {
  font-family: courier;
  font-size:0.8em;
  background-color: #dcdcdc;
  border: thin solid #02007F;
  padding: 3pt;
  width: auto;
}

div.singlepostnav {
  font-weight:bold;
  font-size:0.9em
}

div.entrymeta {
	font-size:0.8em;
  padding: 10px 0px 0px 0px
}

div.entrymeta a {
  text-decoration:none;
  color: blue;
}
div.entrymeta a:visited {
  text-decoration:none;
  color: blue;
}

div.main h3 {
  font-size:16px;
  font-weight:normal;
}

div.main h4 {
  margin: 10px 0 10px 0;
  border-bottom: 3px solid #C0C0C0;
  padding: 3px;
  font-size: 1.3em;
  text-align: left;
  color: #000000;
  text-transform:none;
}

div.main h4 a {
  padding: 3px;
  font-size: 1.3em;
  color: #000000;
  text-decoration:none;
}

div.main h4 a:visited {
  font-size: 1.3em;
  color: #000000;
  text-decoration:none;
}

div.main h5 {
  margin: 4px 0 10px 0;
}

div.main p {
  padding:0px;
  margin:8px 0px 8px 0px;
}

div.main table {
  font-size:12px;
  font-weight:normal;
  line-height:17px;
  margin-left:10px;
}

div.main td {
  padding:0px 5px 0px 5px;
  margin:0px;
}

div.main ul {
  list-style-type: disc;
  padding:0px;
  margin:0px 0px 2px 18px;}
  
div.main li {
  padding:1px 1px 0px 0px;
  margin-top:5px;
}	

div.main ul.none {
  list-style-type:none;
}

div.eventsuggest {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 12px;
  width: 42em;
}

div.indexsuggest {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 12px;
  width: 45em;
}

div.eventthanks {
  margin: 10px 0px 5px 0px;
  font-weight:bold;
}

div.eventlist {
  font-weight:normal;
  line-height:16px;
  color:#000000;
  background-color:#ffffff;
  padding:5px;
  margin: 5px 10px 10px 180px;
  border:solid 0px #cccccc;
}

div.eventlistcontent {
  margin-left:12px;
}

div.eventlistcontent tr.d0 td {
	background-color: #ffffff;
}
div.eventlistcontent tr.d1 td {
	background-color: #ededff;
}

div.eventlistcontent tr.dyear td {
  font-size: 1.2em;
	background-color: #003F77;
  color:#ffffff;
}
div.eventlistcontent tr.dtoday td {
	background-color: #00CCFF;
}

div.eventlistcontent td {
 padding:3px 20px 3px 5px;
}

div.eventlistcontent th {
 padding: 3px 20px 3px 0px;
 font-size: 1.1em;
 font-style: italic; 
}

.eventdate {
  font-weight: bold;
}

div.pagetitleevent {
  font-weight:normal;
  text-align:left;
  margin:7px 90px 10px 0px;
  padding:5px 6px 0px 0px;
  text-decoration:none;
  background:#467aa7;
}

div.pagetitleevent h2 a {
  text-decoration:none;
  color:#ffffff;
}

div.pagetitleevent h2 a:visited {
  text-decoration:none;
  color:#ffffff;
}

/* .eventtext {
  width: 480px;
} */

/* ----------------------------------------------- */  

.box{   
  margin:0 0 20px 0;
  padding:10px;
  border:1px solid #c0c0c0;
  background-color:#fafbfc;
  color:#505050;
  line-height:1.5em;
}

.box a {color:#505050;
  text-decoration: none;
}

/* ------------------ NAVBOXLEFT ----------------------------- */  

div.navboxwrapleft {
  float:left;
  width:155px;
  padding:0px 15px 20px 0px;
  margin: 0px 0px 0px 0px;
  border-right:solid 0px #cccccc;
}

div.navboxwrapleftsearch {
  float:left;
  width:150px;
  padding:0px 15px 20px 0px;
  margin: 0px 0px 0px 0px;
  border-right:solid 0px #cccccc;
}

div.navboxleft {
  padding:0px;
  margin:10px 0px 0px 1px;
  font-weight:normal;
  font-size:12px;
  line-height:16px;
  background:; #ebf0f6;}

div.navboxleft h5 {
  color: #000000;
	font-size: 1.1em;
  font-weight: bold;
	margin: 4px 0px 5px 3px;
	padding: 2px 4px 3px 3px;
  text-transform:none;
	border-bottom: 1px solid #6699cc;}
  
div.navboxleft h5 a {
  text-decoration:none;
  color: #000000;
}

div.navboxleft h5 a:visited {
  text-decoration:none;
  color: #000000;
}

div.navboxleft ul {
  padding:0px;
  margin:0px 0px 1px 18px;}
  
div.navboxleft li {
  padding:2px 1px 0px 0px;
  margin:0px;
}	
        
div.navboxleft a {
  text-decoration:none;
  color: blue;
}
div.navboxleft a:visited {
  text-decoration:none;
  color: blue;
}

        
/* ------------------ NAVBOXRIGHT ----------------------------- */  

		
div.navboxwrapright {
  float:right;
  width:170px;
  padding:0px 15px 20px 0px;
  margin: 0px 0px 0px 9px;
  border-left:solid 0px #cccccc;}

div.navboxright {
  padding:0px;
  margin:10px 0px 10px 10px;
  font-size:12px;
  font-weight:normal;
  line-height:17px;
}

div.navboxright h5 {
  color: #000000;
	font-size: 1.1em;
  font-weight: bold;
	margin: 3px 0px 5px 3px;
	padding: 1px 4px 3px 3px;
	width: %;
  text-transform:none;
	border-bottom: 1px solid #6699cc;
}

div.navboxright h5 a {	
  color: #000000;
	font-size: 1.2em;
	width: 93%;
	border-bottom: 1px solid #000;}

div.navboxright ul {
  list-style-type: none;
  padding:0px;
  margin:0px 0px 2px 1px;}
  
div.navboxright li {
  padding:1px 1px 0px 0px;
  margin:0px;
}	

div.calendar {
  font-weight:normal;
  color:#000000;
  text-align:right;
  margin:8px 0px 0px 1px;
}

div.calendar a {
  font-weight:bold;
  text-decoration: underline;
}

div.calendar a:visited {
  font-weight:bold;
  text-decoration: underline;
}

/* margin: top-right-bottom-left */

div.subscribe {
  margin:9px 0px 0px 0px;
}

div.subscribe li {
  margin:3px 0px 0px 5px;
}	

div.subsetfeeds {
  margin:9px 0px 0px 0px;
}

div.subsetfeeds li {
  margin:0px 0px 0px 22px;
}	

div.subsetfeeds ul {
  list-style-type: disc;
}

div.selectedentries {
  margin:4px 0px 0px 0px;
}

div.selectedentries li {
  margin:8px 0px 0px 16px;
}	

div.selectedentries ul {
  list-style-type: disc;
}


/* ----------------------------------------------- */  

#submit	{
	margin-top:5px;
	border-width:0;
	padding:0;
}
	
#commentform input, textarea {
	color:#0C3E69;
}

#commentform input {
	font-size:11px;
	color: #000000;
}

#commentform textarea {
	padding:2px 4px;
}
	
#respond, #comments {
	margin-bottom:15px;
}
	
  
/* ----------------------------------------------- */  

h3.entrytitle, h3 {
	font-size: 160%;
	font-weight: normal;
	line-height: 100%;
	margin: 0;
	padding: 0px;
}

h3.entrytitle a, h3.entrytitle a:visited, h3 a {
	color: #fff;
	text-decoration:none;
}

h3.entrytitle a:hover, h3 a:hover {
  text-decoration:underline;
}

.entry{
	margin-top:0px;
}

.entrybody{
	margin-bottom: 30px;
}
	
.entrybody p {
	margin-bottom: 15px;
}
	
blockquote {
	border-left-width: 3px;
	border-left-style: solid;
	border-left-color: #CCCCCC;
	padding-left: 5px;
  margin-left: 14px;
	font-style: italic;
	color: #666666;
}

blockquote a {
	font-size: 12px;
}

#content code {
	background-color: #3F464A;
	display: block;
	padding:10px;
	margin-bottom:10px;
}

#commentblock code {
	display: block;
	padding:5px;
	margin-bottom:10px;
	color:#ccc;
}
	
div.commenttop {
  border-bottom: 1px solid #6699cc;
}
  
div.commentwrap {
  margin-left:15px;
}


/* ----------------------------------------------- */  

div.footer {
  padding:5px 0;
  margin: 50px 190px 10px 150px;
  font-size:0.6em;
}

div.footer p {
  padding:0;
  margin:0;
  text-align:center;
}


/* ---------------- opengrok --------------------- */  

#page {
background-color: #ffffff;
font-size: 100.01%; /* 12px [1] */
color: black;
font-family: arial, sans-serif;
padding: 1em;
margin:0px 0px 0px 25px;
}

#page a:link {
  color:#2030A2;
  text-decoration:none;
}

#page a:visited {
  color:#202062;
  text-decoration:none;
}

#page a:active, a:hover	{
  color:#202062;
  text-decoration:underline;
}

#Masthead {
	background: none;
	border: none;
	display:block;
	border-bottom: 4px solid #14568a;
	padding-bottom:3px;
  margin:10px 0px 15px 0px;
}


#grokpagetitle {
	float: right;
	font-size: large;
	color:#5382a1;
	text-align:right;
}

#filename {
	font-size: x-large;
	color:#000;
	text-align:right;
}

#bar {
	padding-left: 0.5em;
	margin-bottom:1em;
}

input.q {
	background-color: #ffffff;
	color: #000;
	border-left: 1px solid #bbbbff;
	border-top: 1px solid #bbbbff;
	border-right: 1px solid #93a8bb;
	border-bottom: 1px solid #93a8bb;
	font-weight: normal;
	padding:2px;
}

input.submit {
	background-color: #A3B8CB;
	color: #000;
	padding: 0px;
	border-left: 1px solid #bbbbff;
	border-top: 1px solid #bbbbff;
	border-right: 1px solid #93a8bb;
	border-bottom: 1px solid #93a8bb;
	font-weight: bold;
	min-width:4em;
	text-align:center;
}

input.submit:hover, input.submit:active {
	background-color: #A3B8CB;
	color: #fff;
	padding: 0px;
	border-left: 1px solid #bbbbff;
	border-top: 1px solid #bbbbff;
	border-right: 1px solid #93a8bb;
	border-bottom: 1px solid #93a8bb;
	font-weight: bold;
	min-width:4em;
	text-align:center;
}

.thead {
	background-color:#578bb8;
	font-weight:bold;
  font-size:1.1em;
}

.alt {
	background-color:#e8e8f0;
}


tt {margin:none;}
form, pre {padding:0px;margin:0px;}

#src .l  {text-align:right;color:#888;background-color: #ddd;padding-right:.1em;margin-right:.2em;text-decoration:none;}
#src .hl {text-align:right;color:#000;background-color: #ddd;padding-right:.1em;margin-right:.2em;text-decoration:none;}
#src tt{padding-left:1em; padding-right:1em;}

.sl {color:#999;text-decoration:underline;}
td.a{color:#000}
.n  {color:brown;} /* numbers */ 
.s  {color:green;} /* strings */
.c  {color:#666;} /* comments */
.b  {color:#000; font-weight:bold;} /* comments */
.k  {color:#000; font-family:monospace;} /* comments */
a.d {color:#909; font-weight:bold; font-style:italic;text-decoration:none;} /* definitions */
a.s {color:#000;}  /* matched lines */
a.f {color:#909;} /* file locals */
.mf {color:#909;} /* multiple file local defs */
div.a {color:#000}
a.h {font-size:small; margin-left:2em;}

#results {margin-top:.5em;}
#results .con{font-size:small;color:#000;}
#more .l, #results .l { color:#666; }
#results .m {background-color:#ffb;}
#results i {color: green; font-weight:bold;}
#results tr.dir{background-color:#C5D5A9;}
#results td.f{width:3em;padding-left:2em;padding-right:.5em;}

#more { line-height:1.25em;}
#more b { background-color:#ffff99;}

#diffbar {border-bottom: 2px solid #c5d5a9; padding-left:2em;font-size:normal; }
#difftable {border:#C5D5A9; border-collapse:collapse;font-size:small;}
span.tab { padding: 5px; padding-top:3px; padding-bottom: 0px;  margin-left: 2px; margin-right: 2px; margin-bottom:0px ;background-color:#eee; border:2px solid #c5d5a9;border-bottom:2px none #eee;}
span.tabsel {  padding: 6px ; padding-top:5px; padding-bottom: 1px; margin-left: 2px; margin-right: 2px; background-color:#fff; border:2px solid #c5d5a9; border-bottom:2px solid #fff;}
#difftable .d { background-color:#8BD98B;}
#difftable .a { background-color:#FFCC40;}
tr.k{border-bottom:1px dashed #ccc;}
#difftable i  {color:#666;background-color:#ddd;margin-right:.2em;padding-left:1em;padding-right:.5em;text-decoration:none; font-weight:normal;}
#difftable i.a  {background-color:#FFDD80;color:#666;}
strike.d{background-color:#bbddbb; margin-right:.2em;padding-left:1em;padding-right:.5em;}
#difftable td.d { background-color:#eeeeee;}
.grey{background-color:#eee;}

#badge { padding:3px; }

.rssbadge { padding:3px; text-align:right; border:0px;}

#Footer {
	background-color: white;
	color: #777;
	font-size: 95%;
	margin-top: 1em;
}
#Footer p {
	margin: 0.6em 0 1em 0;
	text-align:center;
}
#Footer a {
	color: #555;
}

.more {background-color:#fff;border: 1px #ccc solid;padding:.3em;margin:1px;}
.sel {background-color:#A3B8CB;border: 1px #336 solid;padding:.5em;margin:1px;}
.error {color: brown;}


